{% extends "base.html" %}

{% block title%}Admin dashboard{% endblock %}

{% block content %}

<section class = "container-fluid">
    <div class = "container">
        <div class="blurfle">
            <ul class = "nav justify-content-center nav-underline">
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('admin_home') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/house-solid.svg" class = "m-1" style = "width:17px"/>Home</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link active " href = "{{ url_for('admin_dashboard') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/chart-simple-solid.svg" class = "m-1" style = "width : 17px">Dashboard</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('admin_about') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/user-solid.svg"  class = "m-1" style = "width : 17px">About</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('logout') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/right-to-bracket-solid.svg" class = "m-1" style = "width : 17px">Logout</a>
                </li>
                
                    <div class = "position-absolute end-0 pe-3 ros " >

                        <b>
                            <img src = "/static/images/cyber.jpeg" style = "width:33px; border-radius:30px;">
                            <a href = "" style = "color: white;" class = "link"> Welcome Admin </a> </b>
                    </div>
                
            </ul>
        </div>

        <div>
            <h1 class = "text-center m-5">User Details</h1>
            <br>
            <hr/>
            {% if users %}
        
                
                
                    <table class = "table table-dark table-striped-columns">
                        <tr class = "text-center">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Gender</th>
                            <th>Action</th>
                        </tr>
                        {% for user in users %}
                        <tr class = "text-center">
                            <td> {{ user.id }}</td>
                            <td> {{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.gender }}</td>
                            <td>
                                
                                    
                                {% if user.is_blocked %}
                                    <form action="{{ url_for('unblock_user', user_id=user.id) }}" method="post">
                                        <button class = "btn btn-outline-primary" type="submit">Unblock</button>
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('block_user', user_id=user.id) }}" method="post">
                                        <button class = "btn btn-outline-primary" type="submit">Block</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                        
            {% else %}
                {{ "User Not available "}}
            {% endif %}

        </div>



        </div>

{% endblock %}