{% extends "base.html" %}

{% block title%}Admin dashboard{% endblock %}

{% block content %}

<section class = "container-fluid">
    <div class = "container">
        <div class="blurfle">
            <ul class = "nav justify-content-center nav-underline">
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "/templates/admin_home.html" style = "color: rgb(29, 7, 61);">Home</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link active " href = "/templates/admin_dashboard.html" style = "color: rgb(29, 7, 61);">Dashboard</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "/templates/admin_about.html" style = "color: rgb(29, 7, 61);">About</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "" style = "color: rgb(29, 7, 61);">Logout</a>
                </li>
                
                    <div class = "position-absolute end-0 pe-3 ros " >

                        <b>
                            <img src = "/static/images/cyber.jpeg" style = "width:33px; border-radius:30px;">
                            <a href = "" style = "color: white;" class = "link"> Welcome Admin </a> </b>
                    </div>
                
            </ul>
        </div>

{% endblock %}