{% extends "base.html" %}

{% block title%}User dashboard{% endblock %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
{% endblock %}
{% block content %}

<section class = "container-fluid">
    <div class = "container">
        <div class="blurfle">
            <ul class = "nav justify-content-center nav-underline">
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('user_home')}}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/house-solid.svg" class = "m-1" style = "width:17px"/>Home</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link active " href = "{{ url_for('user_dashboard') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/chart-simple-solid.svg" class = "m-1" style = "width:17px"/>Dashboard</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('user_add') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/plus-solid.svg" class = "m-1" style = "width:17px"/>Add</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('user_about')}}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/user-solid.svg" class = "m-1" style = "width:17px"/>About</a>
                </li>
                <li class = "nav-item py-2">
                    <a class = "nav-link " href = "{{ url_for('logout') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/right-to-bracket-solid.svg" class = "m-1" style = "width:17px"/>Logout</a>
                </li>
                
                    <div class = "position-absolute end-0 pe-3 ros " >

                        <b>
                            <img src = "/static/images/cyber.jpeg" style = "width:33px; border-radius:30px;">
                            
                            <a href = "" style = "color: white;" class = "link"> Welcome, </a> </b>
                           
                    </div>

        
                
            </ul>
        </div>

        <div>
            
    
        </div>

       



       




        <footer >
            <div class = "text-center krindale p-3 m-3" >
             <p>Social Media</p>
             <a href = "https://github.com/jitendra-rathore-iitm" style = "color: rgb(29, 7, 61);" class = "link">
                 <img src = "/static/images/github.png" style = "width: 20px; ">
                 Github
             </a>
             <a href = "https://www.linkedin.com/in/jitendrarathore-/" style = "color: rgb(29, 7, 61);" class = "link">
                 <img src = "/static/images/linkedin.png" style = "width:20px;">
                 Linkedin

             </a>
             
             <br/>
             <br/>
             <div>
                 @2025 All copyrights are reserved
             </div>
             </div>
         </footer>
    </div>
</section>



{% endblock %}

    
