{% extends "base.html" %}

{% block title %}Sign in{% endblock %}

{% block head%}
    <style>
        body{
            background: linear-gradient(45deg, rgb(3, 173, 185), violet);
        }
        
    </style>
{% endblock %}

{% block content%}
    <div class = "container-fluid">
        <div class = "container">
            <div class = " login">
                <div class = "m-3 text-center">
                    <h1>Sign in</h1>
                </div>
                <div class = "m-3 text-center">
                    {% with messages = get_flashed_messages(with_categories_true)%}
                        {% if message %}
                            <div class = "alert-container">
                                {% for category, message in messages %}
                                    {% if category == "success"%}
                                        <div class = "alert alert-success" role = "alert">{{ message }}</div>
                                    {% elif category == 'error' %}
                                        <div class = "alert alert-error" role = "alert">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method = "POST" action = "{{ url_for('signin') }}">
                        <label>Email</label><br>
                        <input class = "m-4 text-center box" type = "email" placeholder = "Email" name = "email" /><br>
                        {% if error %}
                            <p class = "text-danger">{{ error }}</p>
                        {% endif %}
                        <label>Password</label><br>
                        <input class = "m-4 text-center box" type = "password" placeholder = "Password" name = "password"/><br>
                        <input class = "btn btn-outline-primary me-5" type = "submit" value = "Submit" >
                        <a href = "{{ url_for('signup') }}" class = "link">Sign up</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}