{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head%}
    <style>

 
        
        
        
    </style>
{% endblock%}

{%block content %}
    <section class = "container-fluid">
        <div class = "container">
            <div class="blurfle">
                <ul class = "nav justify-content-center nav-underline">
                    <li class = "nav-item py-2">
                        <a class = "nav-link active" href = "{{ url_for('user_home') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/house-solid.svg" class = "m-1" style = "width:17px"/>Home</a>
                    </li>
                    <li class = "nav-item py-2">
                        <a class = "nav-link " href = "{{ url_for('user_dashboard') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/chart-simple-solid.svg" class = "m-1" style = "width:17px"/>Dashboard</a>
                    </li>
                    <li class = "nav-item py-2">
                        <a class = "nav-link " href = "{{ url_for('user_add') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/plus-solid.svg" class = "m-1" style = "width:17px"/>Add</a>
                    </li>
                    <li class = "nav-item py-2">
                        <a class = "nav-link " href = "{{ url_for('user_about') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/user-solid.svg" class = "m-1" style = "width:17px"/>About</a>
                    </li>
                    <li class = "nav-item py-2">
                        <a class = "nav-link " href = "{{ url_for('logout') }}" style = "color: rgb(29, 7, 61);"><img src = "/static/images/right-to-bracket-solid.svg" class = "m-1" style = "width:17px"/>Logout</a>
                    </li>

                    <div class = "position-absolute end-0 pe-3 ros " >

                        <b>
                            <img src = "/static/images/cyber.jpeg" style = "width:33px; border-radius:30px;">
                            
                            <a href = "" style = "color: white;" class = "link"> Welcome, {{ user.name }} </a> </b>
                    </div>

                </ul>
            </div>

            <div class = "row ">
                <div class = "col-lg-4">
                    <div>
                        <img src = "/static/images/img1.png" class = "img-fluid snorbit">

                    </div>

                </div>
                <div class = "col-lg-8">
                    <div class = "para ">
                        <h2 class = "text-center">Collab Sphere</h2>
                        <br><br>
                        <p class = "text-center">
                            Collab Sphere is a web application who helps students or working professionals who want to wrok on  open source projects and contribute on them. This platform simplifies the process by allowing students to create personalized accounts and share their project ideas along with the required skillsets, making it easier for others to find opportunities that match their interests and abilities.
                        </p>
                    </div>

                </div>


            </div>

            <br/><br/>
            <div class = "row row-cols-4 mt-5">
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div>
                        <div class = "text-center">
                        <img src = "/static/images/code.png" >
                        </div>
                    
                        <p class = "p-4 text-center">
                            Every programming language is welcome on Collab Sphere. No matter which language you know, you'll find or create projects that match your skills.
                        </p>
                    </div>
                    

                </div>
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div >
                        <div class = "text-center">
                        <img src = "/static/images/group.png">
                        </div>
                        <p class = "p-4 text-center">
                            You can join any group and collaborate with like-minded people and work together, learn, and build amazing projects.
                        </p>
                    </div>
                    

                </div>
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div>
                        <div class = "text-center">
                            <img src = "/static/images/secure.svg">
                        </div>
                        <p class = "p-4 text-center">
                            Your data and projects are safe with us. Collab Sphere ensures a secure environment for all projects.
                        </p>
                    </div>
                    

                </div>
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div>
                        <div class = "text-center">
                            <img src = "/static/images/interests.svg">
                        </div>
                        <p class = "p-4 text-center">
                            You have the option to select 'I'm Interested' on projects that catch your eye. It's a simple way to show your enthusiasm and start collaborating!.
                        </p>
                    </div>
                    

                </div>
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div>
                        <div class = "text-center">
                            <img src = "/static/images/network.svg">
                        </div>
                        <p class = "p-4 text-center">
                            You can also build your network by connecting with other contributors.Grow your skills and community together on Collab Sphere!
                        </p>
                    </div>
                    

                </div>
                <div class = "col bg-dark py-4 m-5" style = "border: 2px solid white; border-radius:20px">
                    <div>
                        <div class = "text-center">
                            <img src = "/static/images/open_source.svg">
                        </div>
                        <p class = "p-4 text-center">
                            Collab Sphere is open-source and designed to be easy to understand. Whether you're a beginner or an expert, you can start contributing and work on them.
                        </p>
                    </div>
                    

                </div>
                
                
                
            </div>
            <hr/>

            <footer >
                <div class = "text-center krindale p-3 m-3" >
                 <p>Social Media</p>
                 <a href = "https://github.com/jitendra-rathore-iitm" style = "color: rgb(29, 7, 61);" class = "link">
                     <img src = "/static/images/github.png" style = "width: 20px; ">
                     Github
                 </a>
                 <a href = "https://www.linkedin.com/in/jitendrarathore-/" style = "color: rgb(29, 7, 61);" class = "link">
                     <img src = "/static/images/linkedin.png" style = "width:20px;">
                     Linkedin
 
                 </a>
                 
                 <br/>
                 <br/>
                 <div>
                     @2025 All copyrights are reserved
                 </div>
                 </div>
             </footer>
        </div>
    </section>


{% endblock %}